# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [80]:
import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

create_database()

Database created and successfully connected.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [81]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [82]:
def insert_employee(id,name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        VALUES (?, ?, ?, ?)
    ''', (id,name, age, department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")

2. Insert at least 5 different employees into the `employees` table.

In [83]:
insert_employee(22,'Bob',45,'HR')
insert_employee(32,'Bobby',32,'PD')
insert_employee(42,'Sally',26,'DS')
insert_employee(54,'Vasu',28,'DS')
insert_employee(35,'Apoorv',29,'DS')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [84]:
def fetch_all():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''Select * from Employees''')   # SQL Query
    rows = cursor.fetchall() # to fetch all the rows

    for row in rows:                # for loop to print the queried rows
        print(row)

    conn.commit()
    conn.close()
fetch_all()

(22, 'Bob', 45, 'HR')
(32, 'Bobby', 32, 'PD')
(35, 'Apoorv', 29, 'DS')
(42, 'Sally', 26, 'DS')
(54, 'Vasu', 28, 'DS')

2. Write a Python function to fetch and display all employees from a specific department.

In [85]:
def specific(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM employees WHERE department = ?''', (department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
specific('PD')

(32, 'Bobby', 32, 'PD')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [86]:
def update_table(employee_id,new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''Update employees
    set department = ?
    where id = ?''',(new_department,employee_id))

    conn.commit()
    conn.close()
    print('Employee table updated')

update_table(12,'Finance')

Employee table updated

2. Update the department of at least 2 employees and display the updated records.

In [87]:
update_table(33,'Logistics')
update_table(44,'Product')

Employee table updated
Employee table updated

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [88]:
def delete(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('''
    Delete from employees 
    where id = ?
    
    ''',(employee_id,))
    print('employee deleted')
    conn.commit()
    conn.close()

delete(22)

employee deleted

2. Delete at least 1 employee and display the remaining records.

In [89]:
delete(32)

fetch_all()

employee deleted
(35, 'Apoorv', 29, 'DS')
(42, 'Sally', 26, 'DS')
(54, 'Vasu', 28, 'DS')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [94]:
def fetch_aged_employee(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()

    cursor.execute('Select * from employees where age > ?',(age,))
    records = cursor.fetchall()
    conn.close()

    for record in records:
        print(record)

fetch_aged_employee(22)

(35, 'Apoorv', 29, 'DS')
(42, 'Sally', 26, 'DS')
(54, 'Vasu', 28, 'DS')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [99]:
def mulitple_employee(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''INSERT INTO employees (id,name,age,department)
        VALUES (?,?,?,?)''',employees)
        conn.commit()
        print('All employees data inserted')
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]

mulitple_employee(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [104]:
def update_multiple(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
        UPDATE employees
        SET age = ?
        WHERE id = ?
        ''',updates)
        conn.commit()
        print('Employees table updated')
    except Exception as e:
        conn.rollback()
        print('Error occured while updating data')
        print(e)
    finally:
        conn.close()

updates = [
    (18,54),
    (10,10)
]

update_multiple(updates)

Employees table updated