# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns = ['A','B','C','D'])
print(df)

df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns = ['A','B','C'],index= ['X','Y','Z'])
print(df)


element = df.at['Y','B']        # 1st is index then column
e2 = df.at['Z','A']

print(element)
print(e2)

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns= ['A','B','C'])
print(df)

df['D'] = df['A'] * df['B']    # adding a new colomn which is a product of the A and B
print(df)

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)))

df


row_sum = df.sum(axis=1)
colomn_wise = df.sum(axis=0)

print(row_sum)

print(colomn_wise)

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)))

df.iloc[1,2] = np.nan
df.iloc[3,1] = np.nan
df.iloc[2,2] = np.nan

filled = df.fillna(df.mean())       # use inplace=True to make changes in the original array

print(df)
print(filled)

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
# Data Frame
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)))
df

# adding Nan Values
df.iloc[2,3] = np.nan
df.iloc[0,2] = np.nan
df.iloc[1,1] = np.nan
df.iloc[3,1] = np.nan

print(df)

# dropping Nan rows
dropped = df.dropna()

print(dropped)

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'Values':np.random.randint(1,100,size=10)})

df

# group by

grouped = df.groupby('Category')['Values'].agg(['sum','mean','max','min'])
print(grouped)

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Product': np.random.choice(['Phone','Car','Shoes'],size=10),'Category':np.random.choice(['Transport','Gadget','Footwear'],size=10),'Sales':np.random.randint(1,100,size=10)})

df

grouped = df.groupby('Category')['Sales'].agg(['sum','mean','max','min'])
print(grouped)

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [ ]:
df1 = pd.DataFrame({'Item_No':np.random.randint(1,100,size=10),'Category':np.random.choice(['Prod1','Prod2','Prod3'],size=10)})

df2 = pd.DataFrame({'Item_No':np.random.randint(1,100,size=10),'Sales':np.random.randint(10,200,size=10)})

merged = pd.merge(df1,df1,on='Item_No')

print(merged)

In [ ]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [ ]:
df1 = pd.DataFrame({'A':np.random.randint(1,100,size=5),'B':np.random.choice(['Prod1','Prod2','Prod3'],size=5)})

print('DataFrame1:\n', df1)

df2 = pd.DataFrame({'C':np.random.randint(1,100,size=5),'D':np.random.choice(['Prod4','Prod5','Prod6'],size=5)})
print('DataFrame2:\n',df2)

concat_rows = pd.concat([df1,df2],axis=0)

concat2_colo = pd.concat([df1,df2],axis=1)

print("Rows\n",concat_rows)
print('Colomn\n',concat2_colo)

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [ ]:
date_rng = pd.date_range('2024-01-01','2025-01-01',freq='D')

df = pd.DataFrame(date_rng,columns=['date'])

df['data'] = np.random.randint(1,100,size=len(date_rng))
df.set_index('date',inplace=True)

df

monthly_mean = df.resample('M').mean()
print(monthly_mean)

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
date_rng = pd.date_range('2021-01-01','2021-12-31',freq='D')

df = pd.DataFrame(date_rng,columns=['date'])

df['data'] = np.random.randint(1,100,size=len(date_rng))
df.set_index('date',inplace=True)


rolling_mean = df.rolling(window=7).mean()

print(rolling_mean)

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
arr = [['A','B','C'],['one','two','three']]
index = pd.MultiIndex.from_arrays(arr,names=('Category','Sub-Category'))

df = pd.DataFrame(np.random.randint(1,100,size=(3,3)),index=index,columns=['Value1','Value2','Value3'])

print(df)

print(df.loc['A'])    # getting the element at A

print(df.loc[('B','two')])  #

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
arr = [['A','B','C','D'],['one','two','three','four']]

index = pd.MultiIndex.from_arrays(arr,names=('Category','SubCategory'))

df = pd.DataFrame(np.random.randint(1,100,size =(4,4)),index=index,columns=['Value1','Value2','Value3','Value4'])

print(df)

sumed = df.groupby(['Category','SubCategory']).sum()

print(sumed)

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [ ]:
date_rng = pd.date_range(start='2024-01-01',end='2025-01-01',freq='D')

df = pd.DataFrame({'Date':np.random.choice(date_rng,size=20),'Category':np.random.choice(['A','B','C'],size=20),'Value': np.random.randint(30,100,size=20)})

pivoted = df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')

print(pivoted)


2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [ ]:
date_rng = pd.date_range(start='2024-01-01',end='2030-01-01',freq='Y')

df = pd.DataFrame({'Year':np.random.choice(date_rng,size=20),'Quater':np.random.choice(['Q1','Q2','Q3','Q4'],size=20),'Revenue $':np.random.randint(1000,10000,size=20)})


pivoted = df.pivot_table(values='Revenue $',index='Year',columns='Quater',aggfunc='mean')
print(pivoted)

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)

doubled = df.applymap(lambda x:x*2)
print(doubled)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
df

df['Sum'] = df.apply(lambda row:row.sum(),axis=1)
print(df)

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [ ]:
text = pd.Series(['apple','banana','cherry','guava'])

text_upper = text.str.upper()

print(text_upper)

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [ ]:
text = pd.Series(['Hey','Hello','Hola','Hiii','Yoooo'])
text

first_3 = text.str[0:3]

print(first_3)