# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

-----------------------------------------------------------------------------

#### ANSWERS

# Module 3: Data Structures Assignments
## 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [ ]:
set1 = set(range(1,11))

print(set1)

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
set1.add(11)
set1.remove(1)
print(set1)

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set3 = set(range(1,5))

set4 = set(range(2,11,2))


print(set3 | set4)                          # OR print(se3.union(set4))
print(set3.intersection(set4))              # use &
print(set3.difference(set4))                # use - 
print(set3.symmetric_difference(set4))

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
set5 = set(range(1,11))
squared_set = {item**2 for item in set5}      # OR squares = {x**2 for x in range(1, 11)}
print(squared)

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [ ]:
even_set = {x for x in set1 if x%2 == 0}

print(even_set)

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [ ]:
set7 = {1,1,1,2,3,3,2,2,1,2,4,5,6,7}
modified_set = set(set7)
print(modified_set)

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
set_positive = {x for x in range(1,6)}

set_even = {x for x in range(1,4)}

print(set_positive.issubset(set_even))    # checks if elemets of B present in A
print(set_positive.issuperset(set_even))  # checks if elements of A present in B

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
fs = frozenset(range(1,10))

print(fs)

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [ ]:
s = set(range(1,6))

lst1 = list(s)

lst1.append(6)

s = set(lst1)

print(s)

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
d = {
    frozenset({1,2}):4,
    frozenset({3,5}):7,
    frozenset({4,2}):12

}
print(d)


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [ ]:
for i in set3:
    print(i)


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
s1 = set(range(1,10))

while s1:
    s1.pop()
    print(s1)



### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [ ]:
s2 = set(range(1,10))
s3 = set(range(2,12))

s1.symmetric_difference(s3)

print(s2)



### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [63]:
print(3 in set3)

print(20 in set4)

print(12 in s2)

True
False
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [67]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}